name: "build test"

on:
  workflow_dispatch:
    inputs:
      new_version:
        description: 'New version to set (if not provided, defaults to 1.0.0 or 1.0.0-SNAPSHOT based on branch)'
        required: false
        default: ''

      secret:
        description: 'AWS Secrets Manager secret ID for Snyk token'
        required: false
        type: string
        default: ''

      uploadartifacts:
        description: 'Upload build artifacts'
        required: false
        type: boolean
        default: false
    
env:
  AWS_REGION: ap-south-1

permissions:
  id-token: write
  contents: read
  security-events: write

jobs:
  maven_test:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          # aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          # aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: arn:aws:iam::872154182572:role/GitHubActions-Terraform-Role
          aws-region: ${{ env.AWS_REGION }}

      - name: get maven version
        id: version
        run: |
          BASE="${{ github.event.inputs.new_version || '1.0.0' }}"
          if [ "${{ github.ref}}" = "refs/heads/main" ]; then
            echo "value=$BASE" >> $GITHUB_OUTPUT
          else
            echo "value=$BASE-SNAPSHOT" >> $GITHUB_OUTPUT
          fi
      - name: Set up Maven version
        run: mvn -B -ntp versions:set -DnewVersion="${{ steps.version.outputs.value }}" -DprocessAllModules=true && mvn -B -ntp versions:commit 

      - name: fetch Secrets Manager secret
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            ${{ inputs.secret }}
          parse-json-secrets: true  

      - name: build docker image
        run: |
          docker build -t docker/Dockerfile .
          
      - name: Authenticate and Run dependency scan (Snyk test) and save JSON
        uses: ./.github/actions/snyk
        with:
          secret: ${{ github.event.inputs.secret }}
          path: '.'
          severity_threshold: 'low'
          upload_artifacts: ${{ github.event.inputs.uploadartifacts }}
      
      # - name: Set up JDK 17
      #   uses: actions/setup-java@v4
      #   with:
      #     java-version: '17'
      #     distribution: 'temurin'
      #     server-id: nexus-snapshots # ID from the settings.xml to match 
      #     server-username: MAVEN_USERNAME # Env var name we will map below
      #     server-password: MAVEN_PASSWORD # Env var name we will map below

      
      # - name: Publish to Nexus
      #   run: mvn deploy -DskipTests
      #   env:
      #     MAVEN_USERNAME: ${{ secrets.NEXUS_USERNAME }}
      #     MAVEN_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}