name: windows test runner

on:
  push:

permissions:
  id-token: write
  contents: read
  security-events: write

jobs:
  download_scan:
    runs-on: windows-latest
    steps:
      - name: download scanner
        run: |
          curl.exe -L -o npp_installer.exe "https://github.com/notepad-plus-plus/notepad-plus-plus/releases/download/v8.5.7/npp.8.5.7.Installer.x64.exe"
          dir
        shell: powershell
      
      - name: defender scanner
        shell: powershell
        run: |
          $latest = Get-ChildItem "C:\ProgramData\Microsoft\Windows Defender\Platform\" |
                    Sort-Object Name -Descending |
                    Select-Object -First 1
          $mpcmd = "$($latest.FullName)\mpcmdrun.exe"

          # Prepare scan directory
          $scanDir = "C:\scan"
          New-Item -ItemType Directory -Path $scanDir -Force | Out-Null

          # Copy the installer to the scan directory
          Copy-Item "./npp_installer.exe" "$scanDir\npp_installer.exe" -Force

          $defenderVersion = (Get-Item $mpcmd).VersionInfo.FileVersion

          # Add details to the logs
          Add-Content "C:\Users\runneradmin\AppData\Local\Temp\MpCmdRun.log" "Scan started: $startTime"
          Add-Content "C:\Users\runneradmin\AppData\Local\Temp\MpCmdRun.log" "File scanned: $scanDir\npp_installer.exe"
          Add-Content "C:\Users\runneradmin\AppData\Local\Temp\MpCmdRun.log" "Defender version: $defenderVersion"
          Add-Content "C:\Users\runneradmin\AppData\Local\Temp\MpCmdRun.log" "Scan ended: $endTime"
          Add-Content "C:\Users\runneradmin\AppData\Local\Temp\MpCmdRun.log" "Scan result: $scanResult"

          # scan
          $startTime = Get-Date
          & $mpcmd -Scan -ScanType 3 -File "$scanDir\npp_installer.exe" -DisableRemediation -SignatureUpdate -mmpc
          $endTime = Get-Date
          $scanResult = $LASTEXITCODE

      - name: show defender logs
        shell: powershell
        run: |
          $logContent = Get-Content "C:\Users\runneradmin\AppData\Local\Temp\MpCmdRun.log"
          Write-Output $logContent

          # Output the Scan Result for visibility in Actions
          Write-Output "Scan Result: $scanResult"

          exit $scanResult
