name: windows test runner

on:
  push:

permissions:
  id-token: write
  contents: read
  security-events: write

jobs:
  download_scan:
    runs-on: windows-latest
    steps:
      - name: download scanner
        run: |
          curl.exe -L -o npp_installer.exe "https://github.com/notepad-plus-plus/notepad-plus-plus/releases/download/v6.6.4/npp.6.6.4.Installer.x64.exe"
          dir
        shell: powershell
      
      - name: defender scanner
        shell: powershell
        run: |
          $latest = Get-ChildItem "C:\ProgramData\Microsoft\Windows Defender\Platform\" |
                    Sort-Object Name -Descending |
                    Select-Object -First 1
          $mpcmd = "$($latest.FullName)\mpcmdrun.exe"

          # Prepare scan directory
          $scanDir = "C:\scan"
          New-Item -ItemType Directory -Path $scanDir -Force | Out-Null

          # Copy the installer to the scan directory
          Copy-Item "./npp_installer.exe" "$scanDir\npp_installer.exe" -Force

          $defenderVersion = (Get-Item $mpcmd).VersionInfo.FileVersion

          # scan
          $startTime = Get-Date
          & $mpcmd -Scan -ScanType 3 -File "$scanDir\npp_installer.exe" -DisableRemediation -SignatureUpdate -mmpc
          $endTime = Get-Date
          $scanResult = $LASTEXITCODE

          # Create a separate summary file with only the details you want
          $summaryFile = "C:\Users\runneradmin\AppData\Local\Temp\ScanSummary.log"
          Add-Content $summaryFile "Scan started: $startTime"
          Add-Content $summaryFile "File scanned: $scanDir\npp_installer.exe"
          Add-Content $summaryFile "Defender version: $defenderVersion"
          Add-Content $summaryFile "Scan result: $scanResult"
          Add-Content $summaryFile "Scan ended: $endTime"

      - name: show defender logs
        shell: powershell
        run: |
          $summaryContent = Get-Content "C:\Users\runneradmin\AppData\Local\Temp\ScanSummary.log"
          Write-Output $summaryContent
          
          # Get the scan result from the summary
          $scanResult = (Get-Content "C:\Users\runneradmin\AppData\Local\Temp\ScanSummary.log" | Select-String "Scan result: (\d+)" | ForEach-Object { $_.Matches.Groups[1].Value })
          exit [int]$scanResult